<!--Ron Pingol Booking Page -->
{% set lang_code = session["language"] %}
{% if lang_code == "ko" %}
<section id="hero_2" style=" background-image: url({{url_for('static', filename='img/ko/todo/header.jpg')}}");>
</section><!-- End Hero -->

<main id="main">

    <section id="title" class="title">
        <div class="container">
          <div style="text-align:center"> <h2>{{_("Accommodation in Korea")}}</h2> </div>
        </div>
    </section>


    <section id="portfolio" class="portfolio">
        <div class="container">

          <div class="row portfolio-contain">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/booking/jeju.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Jeju-Do Island Resort")}}</h3>
              <p class="fst-italic">
                {{_("               Room: Deluxe King Room with Ocean View. Price: ₩200 per night. Other: Amenities include an outdoor pool, fitness center, and spa. The hotel offers on-site dining options and free Wi-Fi. Located near popular attractions, free parking provided.")}}
              </p>
            </div>
          </div>
    </section>


  <section id="todo-spotTwo" class="todo-spotTwo">
        <div class="container">

          <div class="row">
            <div class="col-lg-6">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/booking/seoulHotel.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Hongdae Street Hotel")}}</h3>
              <p class="fst-italic">
                {{_("Room: Standard Double Room. Price: ₩80 per night. Other: Located in the heart of Hongdae Street with easy access to public transportation. Offers 24-hour front desk, luggage storage, and laundry facilities for guests' convenience.")}}
              </p>
            </div>
          </div>
    </section>

    <section id="todo-spotThree" class="todo-spotThree">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/booking/seoulGangnam.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Seoul Gangnam Street Hotel")}}</h3>
              <p class="fst-italic">
                {{_("Room: Superior Twin Room. Price: ₩120 per night. Other: Located in the heart of Gangnam Street with easy access to public transportation. Offers fitness center, sauna, and business center. Free parking provided for guests who arrive by car. Breakfast available for an additional fee.")}}
              </p>
            </div>
          </div>
    </section>

    <section id="todo-spotFour" class="todo-spotFour">
        <div class="container">

          <div class="row">
            <div class="col-lg-6">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/booking/incheon.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Seoul Incheon Hotel")}}</h3>
              <p class="fst-italic">
                {{_("Room: Deluxe King Room with City View. Price: ₩150 per night. Other: Located in Incheon with easy access to public transportation. Offers indoor swimming pool, fitness center, and spa. Free breakfast served daily in the hotel's restaurant. Free shuttle service to and from the airport provided.")}}
              </p>
            </div>
          </div>
    </section>



    <section id="todo-spotFive" class="todo-spotFive">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/booking/neighborhood.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Seoul NeighbourHood Hotel")}}</h3>
              <p class="fst-italic">
                {{_("Room: Standard Queen Room. Price: ₩60 per night. Other: Located in a quiet neighbourhood with easy access to public transportation. Offers 24-hour front desk, luggage storage, and laundry facilities. Free parking provided for guests who arrive by car. Breakfast not included, but plenty of dining options available in the neighbourhood. Cozy room with comfortable queen-sized bed and modern amenities like flat-screen TV and free Wi-Fi.") }}
              </p>
            </div>
          </div>
    </section>


{% elif lang_code == "sv" %}
<!-- Sweden Booking Body -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up" style="background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)),  url({{ url_for('static', filename='img/sv/booking/frozen_river_hotel.jpg' ) }}) top center;" >>
    <h1>{{_("AES Travel: Sweden")}}</h1>
    <h2>{{_("Get lost in Sweden's untamed wilderness, then find yourself in its vibrant culture.")}}</h2>
    <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
</section>

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>{{_("Booking")}}</h2>
          <h4>{{_("Find your next adventure in Sweden...")}}</h4>
          <p>{{_("Sweden offers a diverse range of experiences, and our selection of hotels, campsites,
            and B&Bs reflect that. Whether you're looking for a luxurious urban getaway in Stockholm, a cozy cabin in the woods,
            or a seaside bed and breakfast, we have something for everyone. Our accommodations offer unique experiences that reflect the local culture and heritage,
            with activities ranging from hiking and skiing in the mountains to fishing and kayaking in the archipelagos.
            You can enjoy a traditional Swedish breakfast with freshly baked bread or indulge in a spa treatment at our luxury hotels.
            Whatever your preference,
            we guarantee that you will have an unforgettable experience while exploring Sweden's natural beauty and vibrant culture.")}}
            </p>
        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">{{_("All")}}</li>
              <li data-filter=".filter-app">{{_("Hotels")}}</li>
              <li data-filter=".filter-card">{{_("Outdoors")}}</li>
              <li data-filter=".filter-web">{{_("B&Bs")}}</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/hotel.jpg') }}" class="img-fluid" alt="">
                <h5>Rum: Dubbelrum Superior med balkong. Pris: 150 EUR per natt inklusive frukost. Övrigt: Beläget i en charmig svensk stad med bastu, gym, restaurang på plats och gratis parkering.</h5>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/hotel.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="{{ url_for('static', filename='img/sv/booking/red_b&b.jpg' ) }}" class="img-fluid" alt="">
                <h6>Rum: Standard tvåbäddsrum. Pris: 80 EUR per natt. Övrigt: Beläget i hjärtat av en historisk europeisk stad, erbjuder enkel tillgång till kollektivtrafik och erbjuder en gratis välkomstdrink vid ankomsten.</h6>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/red_b&b.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/snow_hotel.jpg' ) }}" class="img-fluid" alt="">
                <h7>Rum: Svit Deluxe med havsutsikt. Pris: EUR 400 per natt inklusive frukost. Övrigt: Beläget i ett tropiskt paradis med spa, gym och utomhuspool. Erbjuder enkel tillgång till närliggande sevärdheter och matställen på plats.</h7>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/snow_hotel.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/tent_interior.jpg' ) }}" class="img-fluid" alt="">
                <h8>Rum: Standard enkelrum. Pris:  500 per EUR. Övrigt: Hotellet ligger i ett bekvämt område med enkel tillgång till kollektivtrafik och erbjuder en 24-timmarsreception och bagageförvaring.</h8>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/tent_interior.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/hostel_interior.jpg' ) }}" class="img-fluid" alt="">
                <h9>Rum: Rum Superior Queen med utsikt över staden. Pris: EUR 120 per natt. Övrigt: Beläget i en livlig kanadensisk stad med enkel tillgång till kollektivtrafik. Här finns ett fitnesscenter och en restaurang som serverar internationella rätter.</h9>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/hostel_interior.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/old_hotel.jpg' ) }}" class="img-fluid" alt="">
                <h10>Rum: Dubbelrum Deluxe med bergsutsikt. Pris: EUR 200 per natt inklusive frukost. Övrigt: Beläget i ett naturskönt område med enkel tillgång till närliggande vandringsleder och utomhusattraktioner. Här finns en utomhuspool, ett spa och en restaurang som serverar lokala rätter.</h10>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/old_hotel.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/lake_campsite.jpg' ) }}" class="img-fluid" alt="">
                <h11>Rum: Rum Standard Queen. Pris: EUR 80 per natt. Övrigt: Beläget i en historisk del av staden med enkel tillgång till kollektivtrafik. Här erbjuds 24-timmarsreception och bagageförvaring.</h11>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/lake_campsite.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/mountain_campsite.jpg' ) }}" class="img-fluid" alt="">
                <h12>Rum: Rum Superior King med utsikt över trädgården. Pris: EUR 150 per natt inklusive frukost. Övrigt: Ligger i ett lugnt område med enkel tillgång till närliggande vandringsleder och utomhusaktiviteter. Här finns spa, fitnesscenter och restaurang som serverar internationella rätter.</h12>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/mountain_campsite.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/village_b&b.jpg' ) }}" class="img-fluid" alt="">
                <h13>Rum: Rum Deluxe Queen med havsutsikt. Pris: EUR 300 per natt. Övrigt: Beläget i en pittoresk kuststad med enkel tillgång till närliggande vattensporter. Här finns utomhuspool, spa och restaurang som serverar lokala fisk- och skaldjursrätter.</h13>
                <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/village_b&b.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
</main>
{% elif lang_code == "en" %}
    <section class="d-flex align-items-center justify-content-center" id="hero"
             style="background-image: url( {{ url_for('static', filename='img/' + lang_code + '/index/index-hero.webp') }} ); ">
        <div class="container position-relative">
            <h1>{{_('AES Travel')}}</h1>
            <h2>{{_('Bringing you where you want to be')}}</h2>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <section class="team section-bg" id="team">
            <div class="container">

                <div class="section-title">
                    <h2>{{_('Current Travel Plans')}}</h2>
                    <p>{{_('Here is our 2 travel destinations for you to enjoy')}}</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="visibility: hidden;">
                        <div class="member">
                            <div class="member-img">
                                <img alt="" class="img-fluid" src="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <a href="{{ url_for('ko_home') }}">
                                    <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/' + lang_code + '/index/korea_image.webp') }}">
                                </a>
                            </div>
                            <div class="member-info">
                                <a  href="{{ url_for('ko_home') }}">{{_('Korea')}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <a href="{{ url_for('sv_home') }}">
                                    <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/' + lang_code + '/index/sweden_image.webp') }}">
                                </a>
                            </div>
                            <div class="member-info">
                                <a href="{{ url_for('sv_home') }}">{{_('Sweden')}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="visibility: hidden;">
                        <div class="member">
                            <div class="member-img">
                                <img alt="" class="img-fluid" src="assets/img/team/team-4.jpg">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main><!-- End #main -->
{% endif %}