<!--

File: ko/home.html
Desc: Home page for Korea travel website
Author: Ernest John Decina
-->


<!-- Korea Home Body -->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel" id="heroCarousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url({{ url_for('static', filename='img/ko/home/1.jpg' ) }});">
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= My & Family Section ======= -->
    <section class="about" id="about">
        <div class="container">

            <div class="section-title">
                <h2>AES Travel: Korea</h2>
                <p>Are you ready to go travel with your family and friends to korea?</p>
            </div>

            <div class="intro-text">
                <p>Welcome to our website dedicated to all things related to traveling to Korea! Korea is a fascinating and vibrant country with a rich culture and history. Whether you're interested in exploring the bustling streets of Seoul, soaking in natural hot springs, or discovering ancient temples, Korea has something for everyone.</p>
                <p>Korea is a great destination for families looking to spend time together and make new memories.</p>
            </div>
        </div>
    </section><!-- End My & Family Section -->

    <!-- ======= Recent Photos Section ======= -->
    <section class="recent-photos" id="recent-photos">
        <div class="container">
            <div class="section-title">
                <h2>Dont know what to do in Korea?</h2>
                <p>Well have a look at our guided todo list</p>
                <div>
                    <img src="url({{ url_for('static', filename='img/ko/home/1.jpg' ) }})" class="img-fluid" alt="">
                </div>

                <a class="btn-learn-more" href="{{ url_for('ko_todo') }}">Continue to "To Do"</a>
            </div>
        </div>
    </section><!-- End Recent Photos Section -->

</main><!-- End #main -->