<!-- Korea Todo Body -->
{% set lang_code = session["language"] %}
{% if lang_code == "ko" %}
<section id="hero_2" style=" background-image: url({{url_for('static', filename='img/ko/todo/header.jpg')}}");>
</section><!-- End Hero -->



<main id="main">

    <section id="title" class="title">
        <div class="container">
          <div style="text-align:center"> <h2>{{_("Traveling in Korea")}}</h2> </div>
        </div>
    </section>


    <section id="todo-spotone" class="todo-spotone">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/todo/gyeongpoop.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("The Five Royal Palaces of Seoul")}}</h3>
              <p class="fst-italic">
                {{_("The five palaces of Seoul are royal palaces of the Joseon Dynasty and symbols of Korea’s culture and history. Each palace has its unique charms: Gyeongbokgung Palace, the royal residence; Changdeokgung Palace, a UNESCO World Heritage Site inscribed in 1997 with remarkable beauty; Deoksugung Palace, a combination of Korean aesthetics and Western architecture; Changgyeonggung Palace, now restored from the damages caused by Japanese occupation; and Gyeonghuigung Palace, humble and simple.")}}
              </p>
            </div>
          </div>
    </section>


  <section id="todo-spotTwo" class="todo-spotTwo">
        <div class="container">

          <div class="row">
            <div class="col-lg-6">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/todo/hongdae.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Hongik University Hongdae Street")}}</h3>
              <p class="fst-italic">
                {{_("The heart of Seoul’s youth culture is this eclectic collection of cafes, restaurants, bars, clubs, art markets, galleries, and shops. Its numerous alleys wind through the area, carrying unique themes like clubbing, art, and murals (Picasso Street). Busking, performances, events, and the powerful energy of youthful freedom draw numerous youths to the area, especially on weekends.")}}
              </p>
            </div>
          </div>
    </section>

    <section id="todo-spotThree" class="todo-spotThree">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/todo/COEX.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("COEX (Starfield)")}}</h3>
              <p class="fst-italic">
                {{_("COEX is a cultural center housing shops, film theaters, an aquarium, a large bookstore, and a library. Starfield Library in particular is a beloved location for photo ops for its two-story, 13-meter-high bookstores. It is designed as an open space of communication through books, and it hosts many literature-themed cultural events.")}}
              </p>
            </div>
          </div>
    </section>

    <section id="todo-spotFour" class="todo-spotFour">
        <div class="container">

          <div class="row">
            <div class="col-lg-6">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/todo/seoulland.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Seoul Land")}}</h3>
              <p class="fst-italic">
                {{_("Seoul Land has gained popularity as a land of adventures and dreams. Its attractions are organized by themes, such as the World Plaza, Tomorrow Land, Character Town, and Adventure Land. There are about 50 rides, all inspired by Korean animation characters. The amusement park runs a sled slope and a fishing spot in winter. At night, Seoul Land turns into Luna Park decorated with splendid lights.")}}
              </p>
            </div>
          </div>
    </section>



    <section id="todo-spotFive" class="todo-spotFive">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img alt="" class="img-fluid" src="{{ url_for('static', filename='img/ko/todo/seomjingang.jpg') }}">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>{{_("Seomjingang Train Village in Gokseong")}}</h3>
              <p class="fst-italic">
                {{_("Seomjingang Train Village is a train-themed park developed from the former Gokseong Station and the discontinued Jeolla Line. The village is home to Dreamland amusement park; the goblin-themed Yosul (Magic) Land; Chichippuppu Playground, where visitors can learn and experience railway history and culture; an animal farm; a VR zone; and a media art exhibition hall. Visitors can also ride the railbike or the steam locomotive.") }}
              </p>
            </div>
          </div>
    </section>



    <section class="recent-photos" id="recent-photos">
        <div class="container">
            <div class="section-title">
                <h2>{{_("Looking for accommodation?")}}</h2>
                <p style="text-align: left;"></p>
                <br>
                <p>{{_("Check out South Korea\'s places to stay")}}</p>
                <div>
                    <img alt="" class="img-fluid" src="url(/static/img/ko/home/1.jpg)">
                </div>

                <a class="btn-learn-more" href="/ko/booking">{{_("Book here")}}</a>
            </div>
        </div>
    </section>
</main>
{% elif lang_code == "sv" %}
<section id="hero">
    <div class="hero-container" data-aos="fade-up" style="background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)),  url({{ url_for('static', filename='img/ko/home/en-korea-2.jpeg' ) }}) top center;" >
    <h1>{{_("AES Korea")}}</h1>
    <h2>{{_("Brining you places")}}</h2>
    <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
</section><!-- End Hero -->

<!-- Sweden Body -->
<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-in" data-aos-delay="100">
          <h2>Platser att resa till</h2>
          <p>Ta en titt på många platser i Korea, från hjärtat av landets huvudstad till de tropiska öarna. Eller besök den livliga staden Busan. Titta gärna nedan och ta en titt på de många alternativen!</p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app" class="">Seoul</li>
              <li data-filter=".filter-card" class="">Jeju Island</li>
              <li data-filter=".filter-web" class="">Busan</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" style="position: relative; height: 1410px;">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/jaeinpokpo.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Ta ett dopp i vattenfallen Jaeinpopko!</p></h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 800px; top: 0px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/cablecar.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Ta en tur i en linbana och prova på att åka ensam!</p></h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 282px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/birchforest.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Kolla in björkarna i björkskogen!</p></h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 800px; top: 300px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/valley.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Gå ner i dödens dal!</p></h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
{% elif lang_code == "en" %}
    <section class="d-flex align-items-center justify-content-center" id="hero"
             style="background-image: url( {{ url_for('static', filename='img/' + lang_code + '/index/index-hero.webp') }} ); ">
        <div class="container position-relative">
            <h1>{{_('AES Korea')}}</h1>
            <h2>{{_('What to do?')}}</h2>
        </div>
    </section><!-- End Hero -->

   <main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-in" data-aos-delay="100">
          <h2>Places to travel to!</h2>
          <p>Take a look at many places in Korea, from the heart of the country's capital to the tropical islands. Or visit the bustling city of Busan. Take a look below and check out the many options!</p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app" class="">Seoul</li>
              <li data-filter=".filter-card" class="">Jeju Island</li>
              <li data-filter=".filter-web" class="">Busan</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" style="position: relative; height: 1410px;">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/jaeinpokpo.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Take a dip in the Jaeinpopko waterfalls!</p></h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 800px; top: 0px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/cablecar.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Take a ride on a cable car and try riding alone!</p></h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 282px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/birchforest.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Check out the birches in the birch forest!</p></h3>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 800px; top: 300px;">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/ko/todo/valley.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <h3><p>Go down into the valley of death!</p></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endif %}