{% set lang_code = session["language"] %}
{% if lang_code == "ko"  %}
    <!-- ======= Header ======= -->
    <header class="fixed-top" id="header">
        <div class="container d-flex align-items-center justify-content-between">
            {% if country_selector == "ko" %}
                <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("Vist Korea")}}</a></h1>
            {% elif country_selector == "sv" %}
                <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("Vist Sweden")}}</a></h1>
            {% elif country_selector == "en" %}
                <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("AES Travels")}}</a></h1>
            {% endif %}
            <nav class="navbar" id="navbar">
                <ul>
                    {% if country_selector == "ko" %}
                        {% if lang_code == "ko" %}
                            <li><a class="active" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                        {% elif lang_code == "sv"%}
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_todo') }}">{{_("To do")}}</a></li>
                        {% elif lang_code == "en" %}
                            <li><a class="nav-link scrollto" href="{{ url_for('index') }}">{{_("Home")}}</a></li>
                        {% endif %}
                    {% elif country_selector == "sv" %}
                        {% if lang_code == "ko" %}
                            <li><a class="active" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                        {% elif lang_code == "sv"%}
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_todo') }}">{{_("To do")}}</a></li>
                        {% elif lang_code == "en" %}
                            <li><a class="nav-link scrollto" href="{{ url_for('index') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('en_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('en_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('en_todo') }}">{{_("To do")}}</a></li>
                        {% endif %}
                    {% elif country_selector == "en" %}
                            <li><a class="nav-link scrollto" href="{{ url_for('index') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_todo') }}">{{_("To do")}}</a></li>
                    {% endif %}
                    <li class="dropdown"><a href="#"><span>{{_("Language")}}</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="{{ url_for('set_language', lang_code='en') }}">{{_('English')}}</a></li>
                            <li><a href="{{ url_for('set_language', lang_code='ko') }}">{{_('Korean')}}</a></li>
                            <li><a href="{{ url_for('set_language', lang_code='sv') }}">{{_('Swedish')}}</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

{% elif lang_code == "sv"  %}
    <!-- ======= Header ======= -->
    <header class="fixed-top header-transparent" id="header">
        <div class="container d-flex align-items-center justify-content-between position-relative">
            <div class="logo">
                {% if country_selector == "ko" %}
                    <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("Vist Korea")}}</a></h1>
                {% elif country_selector == "sv" %}
                    <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("Vist Sweden")}}</a></h1>
                {% elif country_selector == "en" %}
                    <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("AES Travels")}}</a></h1>
                {% endif %}
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="navbar" id="navbar">
                <ul>
                    {% if country_selector == "ko" %}
                        {% if lang_code == "ko" %}
                            <li><a class="active" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                        {% elif lang_code == "sv"%}
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_todo') }}">{{_("To do")}}</a></li>
                        {% elif lang_code == "en" %}
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_todo') }}">{{_("To do")}}</a></li>
                        {% endif %}
                    {% elif country_selector == "sv" %}
                        {% if lang_code == "ko" %}
                            <li><a class="active" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                        {% elif lang_code == "sv"%}
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_todo') }}">{{_("To do")}}</a></li>
                        {% elif lang_code == "en" %}
                            <li><a class="nav-link scrollto" href="{{ url_for('index') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_todo') }}">{{_("To do")}}</a></li>
                        {% endif %}
                    {% elif country_selector == "en" %}
                    {% endif %}
                    <li class="dropdown"><a href="#"><span>{{_("Language Selector")}}</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="{{ url_for('set_language', lang_code='en') }}">{{_('English')}}</a></li>
                            <li><a href="{{ url_for('set_language', lang_code='ko') }}">{{_('Korean')}}</a></li>
                            <li><a href="{{ url_for('set_language', lang_code='sv') }}">{{_('Swedish')}}</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
{% elif lang_code == "en" %}
<!-- ======= Header ======= -->
    <header class="fixed-top header-transparent" id="header">
        <div class="container d-flex align-items-center justify-content-between">
                {% if country_selector == "ko" %}
                    <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("Vist Korea")}}</a></h1>
                {% elif country_selector == "sv" %}
                    <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("Vist Sweden")}}</a></h1>
                {% elif country_selector == "en" %}
                    <h1 class="logo"><a href="{{ url_for('ko_home') }}">{{_("AES Travels")}}</a></h1>
                {% endif %}
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="navbar" id="navbar">
                <ul>
                    {% if country_selector == "ko" %}
                        {% if lang_code == "ko" %}
                            <li><a class="active" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                        {% elif lang_code == "sv"%}
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_todo') }}">{{_("To do")}}</a></li>
                        {% elif lang_code == "en" %}
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('ko_todo') }}">{{_("To do")}}</a></li>
                        {% endif %}

                    {% elif country_selector == "sv" %}
                        {% if lang_code == "ko" %}
                            <li><a class="active" href="{{ url_for('ko_home') }}">{{_("Home")}}</a></li>
                        {% elif lang_code == "sv"%}
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_todo') }}">{{_("To do")}}</a></li>
                        {% elif lang_code == "en" %}
                            <li><a class="nav-link scrollto" href="{{ url_for('index') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_home') }}">{{_("Home")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_booking') }}">{{_("Booking")}}</a></li>
                            <li><a class="nav-link scrollto" href="{{ url_for('sv_todo') }}">{{_("To do")}}</a></li>
                        {% endif %}
                    {% elif country_selector == "en" %}

                    {% endif %}
                    <li class="dropdown"><a href="#"><span>{{_("Language")}}</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="{{ url_for('set_language', lang_code='en') }}">{{_('English')}}</a></li>
                            <li><a href="{{ url_for('set_language', lang_code='ko') }}">{{_('Korean')}}</a></li>
                            <li><a href="{{ url_for('set_language', lang_code='sv') }}">{{_('Swedish')}}</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
{% endif %}