{% set lang_code = session["language"] %}
{% if lang_code == "ko"  %}
  <!-- Vendor JS Files -->

  <script src="{{ url_for('static', filename= 'vendor/ko/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/ko/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/ko/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/ko/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/ko/php-email-form/validate.js') }}"></script>
{% elif lang_code == "sv" %}
  <script src="{{ url_for('static', filename= 'vendor/sv/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/sv/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/sv/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/sv/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/sv/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/sv/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/sv/php-email-form/validate.js') }}"></script>

{% elif lang_code == "en" %}
  <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename= 'vendor/en/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/en/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/en/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/en/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/en/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'vendor/en/php-email-form/validate.js') }}"></script>
{% endif %}

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='js/' + lang_code + '/main.js') }}"></script>