#hero{
  width: 100%;
  height: 60vh;
  background-color: rgba(22, 30, 56, 0.8);
  overflow: hidden;
  position: relative;
}

#container-home {
    max-width: 400px
}

#intro-text {
    text-align: left;
}

#hero_2{
  width: 100%;
  height: 30vh;
  background-color: rgba(22, 30, 56, 0.8);
  overflow: hidden;
  position: relative;
}
