<!--

File: sv/booking.html
Desc: Booking page for Sweden travel website
Author: Michael O'Brien

-->

{% set lang_code = session["language"] %}
{% if lang_code == "sv" %}
<!-- Sweden Booking Body -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up" style="background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)),  url({{ url_for('static', filename='img/sv/booking/frozen_river_hotel.jpg' ) }}) top center;" >>
    <h1>{{_("AES Travel: Sweden")}}</h1>
    <h2>{{_("Get lost in Sweden's untamed wilderness, then find yourself in its vibrant culture.")}}</h2>
    <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
</section>

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>{{_("Booking")}}</h2>
          <h4>{{_("Find your next adventure in Sweden...")}}</h4>
          <p>{{_("Sweden offers a diverse range of experiences, and our selection of hotels, campsites,
            and B&Bs reflect that. Whether you're looking for a luxurious urban getaway in Stockholm, a cozy cabin in the woods,
            or a seaside bed and breakfast, we have something for everyone. Our accommodations offer unique experiences that reflect the local culture and heritage,
            with activities ranging from hiking and skiing in the mountains to fishing and kayaking in the archipelagos.
            You can enjoy a traditional Swedish breakfast with freshly baked bread or indulge in a spa treatment at our luxury hotels.
            Whatever your preference,
            we guarantee that you will have an unforgettable experience while exploring Sweden's natural beauty and vibrant culture.")}}
            </p>
        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">{{_("All")}}</li>
              <li data-filter=".filter-app">{{_("Hotels")}}</li>
              <li data-filter=".filter-card">{{_("Outdoors")}}</li>
              <li data-filter=".filter-web">{{_("B&Bs")}}</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/hotel.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/hotel.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/red_b&b.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/red_b&b.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/snow_hotel.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/snow_hotel.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/tent_interior.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/tent_interior.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/hostel_interior.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/hostel_interior.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/old_hotel.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/old_hotel.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/lake_campsite.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/lake_campsite.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/mountain_campsite.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/mountain_campsite.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/village_b&b.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/village_b&b.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
</main>
{% elif lang_code == "ko" %}
<main id="main" aria-hidden="true">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{_("Booking")}}</h2>
          <ol>
            <li>{{_(Home)}}</li>
            <li>{{_(Booking)}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="gallery-flters">
              <li data-filter="*" class="filter-active">{{_("All")}}</li>
              <li data-filter=".filter-home" class="">{{_("Hotels")}}</li>
              <li data-filter=".filter-beach" class="">{{_("Outdoors")}}</li>
              <li data-filter=".filter-vacation" class="">{{_("B&Bs")}}</li>
            </ul>
          </div>
        </div>

        <div class="row gallery-container" style="position: relative; height: 1850px;">

          <div class="col-lg-4 col-md-6 gallery-item filter-home" style="position: absolute; left: 0px; top: 0px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/kids_outside_hotel1.jpg') }}" alt="" style="height: 300px;">

              <div class="gallery-info">
                <h4>{{_("This family-friendly hotel in Malmö, Sweden offers spacious rooms and suites, family-friendly dining options, and a range of facilities such as a playroom, outdoor playground, game room, and swimming pool.")}}</h4>
                <p>{{_(Malmö)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/home-1.jpg" class="glightbox" title="Home 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-vacation" style="position: absolute; left: 360px; top: 0px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/b&b_family_1.jpg') }}" alt="" style="height: 350px">
              <div class="gallery-info">
                <h4>{{_("This charming B&B in the quiet town of Lund in Southern Sweden is affordable, spacious and includes a garden for the whole family to enjoy.")}}</h4>
                <p>{{_(Lund)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/vacation-2.jpg" class="glightbox" title="Vacation 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-home" style="position: absolute; left: 0px; top: 330px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/family_hotel_dining_1.jpg') }}" alt="" style="height: 375px;">
              <div class="gallery-info">
                <h4>{{_("This hotel outside the beautiful coastal city of Helsingborg offers all the facilities a family could need including large, three-bed rooms, a swimming pool and a fine restaurant with comfortable outdoor dining.")}}</h4>
                <p>{{_(Helsingborg)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/home-2.jpg" class="glightbox" title="Home 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-beach" style="position: absolute; left: 360px; top: 380px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/family_campsite_1.jpg') }}" alt="" style="height: 425px;">
              <div class="gallery-info">
                <h4>{{_("Explore Sweden's natural beauty with your family at this scenic site in Ryd.")}}</h4>
                <p>{{_(Ryd)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/beach-2.jpg" class="glightbox" title="Beach 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-vacation" style="position: absolute; left: 0px; top: 735px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/kids_overlooking_lake_1.jpg') }}" alt="" style="height: 300px;">
              <div class="gallery-info">
                <h4>{{_("This beauty spot in rural Sweden offer great views of lake Vättern and plenty of space for the family to enjoy while still having the comforts of complimentary Wi-Fi and a sauna.")}}</h4>
                <p>{{_(Västergötland)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/vacation-1.jpg" class="glightbox" title="Vacation 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-home" style="position: absolute; left: 360px; top: 835px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/stockholm_hotel_1.jpeg') }}" alt="" style="height: 450px;">
              <div class="gallery-info">
                <h4>{{_("Explore the cultural heart of Sweden with your family while staying at this luxurious and reasonably-priced hotel with meals, Wi-Fi and a discount on city tours all included.")}}</h4>
                <p>{{_(Stockholm)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/home-3.jpg" class="glightbox" title="Home 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-beach" style="position: absolute; left: 0px; top: 1065px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/family_camping_1.jpg') }}" alt="" style="height: 375px;">
              <div class="gallery-info">
                <h4>{{_("Ljusdal Camping is a picturesque campsite located in central Sweden, situated on the banks of the Ljusnan river amidst lush forests and scenic hiking trails. Perfect for an active family.")}}</h4>
                <p>{{_(Gävleborg)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/beach-1.jpg" class="glightbox" title="Beach 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-beach" style="position: absolute; left: 360px; top: 1315px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/family_camping_2.jpg') }}" alt="" style="height: 475px;">
              <div class="gallery-info">
                <h4>{{_("Björkängen Camping is a serene lakeside campsite, offering both cozy cabins and tent sites for a peaceful outdoor getaway. Visitors can enjoy recreational activities such as kayaking, paddleboarding, and fishing on the clear waters of Lake Vänern. ")}}</h4>
                <p>{{_(Värmland)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/beach-3.jpg" class="glightbox" title="Beach 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 gallery-item filter-vacation" style="position: absolute; left: 0px; top: 1420px;">
            <div class="gallery-wrap">
              <img src="{{ url_for('static', filename='img/ko/booking/khotel9.jpg') }}" alt="" style="height: 400px;">
              <div class="gallery-info">
                <h4>{{_("Gästgiveri B&B is a charming B&B in Arvidsjaur, Northern Sweden. It offers comfortable rooms with traditional Swedish decor and modern amenities. Guests can enjoy complimentary meals and a sauna. Perfect for a winter family getaway.")}}</h4>
                <p>{{_(Arvidsjaur)}}</p>
                <div class="gallery-links">
                  <a href="assets/img/gallery/vacation-3.jpg" class="glightbox" title="Vacation 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
  </main>
{% elif lang_code == "en" %}
    <section class="d-flex align-items-center justify-content-center" id="hero"
             style="background-image: url( {{ url_for('static', filename='img/sv/booking/sweden_landscape_1.jpg') }} ); ">
          <div class="container position-relative">
            <h1>{{_('AES Travel: Sweden')}}</h1>
            <h2>{{_('Escape to the untouched beauty of Sweden - where nature, culture, and adventure collide!')}}</h2>
          </div>
        </section>

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

       <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>{{_("Booking")}}</h2>
          <h4>{{_("Find your next adventure in Sweden...")}}</h4>
          <p>{{_("Welcome to Sweden, a land of breathtaking natural beauty, captivating culture, and thrilling adventure! Whether you're seeking the tranquility of unspoiled wilderness, the vibrant energy of cosmopolitan cities, or the rich history and heritage of a proud and storied people, Sweden has it all. From the rugged mountains and pristine forests of the north to the sparkling lakes and vibrant cities of the south, every corner of this remarkable country is waiting to be discovered. Explore ancient Viking settlements, soak in hot springs under the Northern Lights, hike through towering pine forests, or savor the flavors of Swedish cuisine - the possibilities are endless. Come experience the warm hospitality, stunning landscapes, and endless opportunities for excitement and discovery that await you in Sweden!")}}
            </p>
        </div>



        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">{{_("All")}}</li>
              <li data-filter=".filter-app">{{_("Hotels")}}</li>
              <li data-filter=".filter-card">{{_("Outdoors")}}</li>
              <li data-filter=".filter-web">{{_("B&Bs")}}</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/ice_hotel_1.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/ice_hotel_1.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/lake_b&b_1.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/lake_b&b_1.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/castle_hotel_1.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/castle_hotel_1.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/lapland_camp_1.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/lapland_camp_1.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/solo_hostel.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/solo_hostel.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/hostel_alley.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/hostel_alley.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/solo_camper.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/solo_camper.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/lake_hiker.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/lake_hiker.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/sv/booking/old_rural_b&b.jpg' ) }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="url({{ url_for('static', filename='img/sv/booking/old_rural_b&b.jpg' ) }})" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
</main>
{% endif %}